/* general settings */
*{
    box-sizing: border-box;
    margin: 0;
}
.container{
    max-width: 943px;
    width: 100%;
    margin: auto;
}
html{
    font-family: 'Poppins', sans-serif;
}
/* header */
.header_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
}
.link_header{
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    text-decoration: none;
    padding: 32px 0px 31px 0px;
    max-width: 100px;
    width: 100%;
    transition: 0.3s;
}
.link_header:hover{
    color: black;
    font-weight: bold;
    transition: 0.3s ease;
}
.link_header:nth-child(1){
    display: flex;
}
.link_header:nth-child(5){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* promo */
.promo_block{
    margin-bottom: 104px;
}
.desc_promo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 39px;
}
.title_promo{
    max-width: 132.51px;
    width: 100%;
    font-size: 47.3392px;
    line-height: 59px;
    color: #070707;
}
.text_promo{
    max-width: 165px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;  
    color: #070707;
    padding-top: 40px;
}
.lang_promo_block{
    transform: rotate(-90deg);
   display: flex;
}
.lang_promo{
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    padding: 0px 7px 0px 7px;
    margin-top: 55px;
    position: relative;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}
.lang_promo:hover{
    background-color: #000;
    color: #fff;
}
.lang_promo:nth-child(1)::before{
    content: '';
    position: absolute;
    width: 19px;
    height: 1px;
    top: 9px;
    right: -9px;
    background-color: #000;
    transform: rotate(-90deg);
}

.img_promo{
    max-width: 943.61px;
    width: 100%;
    padding-top: 30px;
}
/* about_me */
.about_me{
    background: #F6F6F6;
    padding: 30px 0px;
}
.about_me_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title_about_me{
    font-size: 34px;
    line-height: 42px;
    color: #070707;
    padding-bottom: 17px;
}
.text_about_me{
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding-bottom: 27px;
}
/* skills */
.skills_block{
    margin-top: 91px;
    margin-bottom: 110px;
}
.desc_block{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_skills{
    font-size: 34px;
    line-height: 42px;
    color: #070707;
    padding-bottom: 69px;
}
.text_skills{
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    padding-bottom: 83px;
}
.skills_img_block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills_ps{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.skills_img{
    max-width: 89px;
    width: 100%;
    padding-bottom: 24px;
}
.skills_img_figma{
    max-width: 58px;
    width: 100px;
    padding-bottom: 24px;
}
.text_ps{
    display: flex;
    text-align: center;
    max-width: 40px;
    width: 100%;
    padding-bottom: 40px;
    padding-right: 80px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
.text_il{
    display: flex;
    text-align: center;
    max-width: 40px;
    width: 100%;
    padding-bottom: 40px;
    padding-right: 70px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
.text_ae{
    display: flex;
    text-align: center;
    max-width: 40px;
    width: 100%;
    padding-bottom: 20px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
.text_figma{
    display: flex;
    text-align: center;
    max-width: 40px;
    width: 100%;
    padding-bottom: 55px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
.skills_star{
    display: flex;
    justify-content: space-between;
    max-width: 166px;
    width: 100%;    
}
.star{
    max-width: 26px;
    width: 100%;
    padding: 4.5px 4.5px;
}
/* main */
.main{
    background: #F6F6F6;
    padding: 30px 0px;
}
.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title_Portfolio{
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
.img_Portfolio{
    max-width: 936.24px;
    width: 100%;
    padding-top: 47px;
}
.text_Portfolio{
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    padding-top: 44px;
}
.reebok{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_reebok{
    max-width: 936.24px;
    width: 100%;
    padding-top: 99px;
}
.text_reebok{
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    padding-top: 44px;
}
.braun{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_braun{
    max-width: 936.24px;
    width: 100%;
    padding-top: 99px;
}
.text_braun{
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #070707;
    padding-top: 44px;
    padding-bottom: 96px;
}
/* contacts */
.contact_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.title_cont{
    font-size: 34px;
    line-height: 42px;
    padding-top: 114px;
}
.text_cont{
    max-width: 300.14px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding-top: 20px;
}
.button_cont{
    margin-top: 29px;
    width: 180.5px;
    height: 42px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    background-color: black;
    border: 1px solid black;
    font-size: 18px;
    line-height: 22px; 
    color: #FFFFFF;
    transition: 0.3s;
}
.button_cont:hover{
    background-color: white;
    color: #000000;
    box-shadow: 0px 3px 3px 1px black;
    transition: 0.3s ease;
}
/* footer */
.footer_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 123px;
}
.img_footer_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 342.18px;
    width: 100%;
}
.img_footer{
    max-width: 40px;
    width: 100%;
}
.text_footer_block{
    display: flex;
    text-align: center;
}
.text_footer{
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    padding-top: 45px;
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
        max-width: 768px;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    .container{
        max-width: 480px;
    }
    .skills_img_block{
        display: block;
    }
    .skills_ps{
        padding-bottom: 50px;
    }
}
@media screen and (min-width: 320px) and (max-width: 480px){
    .container{
        max-width: 300px;
    }
    .skills_img_block{
        display: block;
    }
    .skills_ps{
        padding-bottom: 50px;
    }
    .desc_promo{
        display: block;
    }
    .link_header{
        font-size: 12px;
    }
}